/*global*/
* {
  margin:0;
  padding:0;
}
body {
  font-family:'courier new';
  font-size:1rem;
}
button {
  background:#eee;
  border:0;
  color:#777;
  cursor:pointer;
  font-family:'courier new';
  font-size:1rem;
  padding:.5rem;
}
button:active {
  background:#ddd;
}
[disabled] {
  background:#eee;
  color:#ccc;
}
fieldset {
  color:#777;
  padding:1rem;
}
fieldset legend {
  border:1px solid #777;
  padding:0 .5rem;
}
label {
  display:inline-block;
  text-align:right;
  vertical-align:middle;
  width:200px;
}
select {
  background:#ddd;
  text-indent: 0.01px;
  text-overflow: "";
}
p {
  padding:1rem;
}
/*header*/
body > header {
  border-bottom:1px solid #ccc;
}
body > header h1 {
  font-size:2rem;
  padding:1rem 1rem 0 1rem;
}
body > header h2 {
  font-size:1rem;
  padding:0 1rem;
}
/*nav*/
body > header nav {
  padding:1rem;
}
body > header nav li {
  display:inline-block;
  padding-bottom:.5rem;
}
body > header nav li a {
  color:#777;
  padding:.5rem;
  text-decoration:none !important;
}
body > header nav li a.active {
  background:#eee;
}
/*main*/
main section {
  padding:1rem;
}
main section article {
  padding-bottom:2rem;
}
main section article h1 {
  font-size:1.5rem;
}
main section article h2 {
  font-size:1rem;
  margin-bottom:1rem;
}
/*main form*/
main input,
select,
textarea {
  background:#ddd;
  border:0;
  display:inline-block;
  font-family:'courier new';
  margin-bottom:1rem;
  padding:.5rem;
  vertical-align:middle;
}
main select,
textarea {
  width:300px;
}


/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
  margin-bottom: 0;
  border-radius: 0;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {height: 450px}

/* Set gray background color and 100% height */
.sidenav {
  padding-top: 20px;
  background-color: transparent;
  height: 100%;
}

/* Set black background color, white text and some padding */
footer {
  background-color: transparent;
  color: #080808;
  padding: 15px;
}

/* Set default bootstrap overring styles */
.navbar-inverse {
  background-color: transparent;
  border-color: transparent;
  color: #080808;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover {
  background-color: transparent;
  border-color: transparent;
  color: #080808;
}
html {
  font-family: "courier new";
  font-size: 1rem;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-size:	24px !important;
  margin-top:	0px !important;
  margin-right:	0px !important;
  margin-bottom:	0px !important;
  margin-left:	0px !important;
  padding-top:	0px !important;
  padding-right:	0px !important;
  padding-bottom:	0px !important;
  padding-left:	0px !important;
  font-size: 1.5rem !important;
  line-height: 1.6 !important;
  font-weight: bolder !important;
}

.h2, h2 {
  font-size:	24px !important;
  margin-top:	0px !important;
  margin-right:	0px !important;
  margin-bottom:	0px !important;
  margin-left:	0px !important;
  padding-top:	0px !important;
  padding-right:	0px !important;
  padding-bottom:	0px !important;
  padding-left:	0px !important;
  font-size: 1rem !important;
  line-height: 1.6 !important;
  font-weight: bolder !important;
}
.copyright .social-icon i {
transition: all 0.4s ease 0s;
}
.copyright i {
line-height: 25px;
}
.fa {
backface-visibility: hidden;
color: #000;
}
.fa {
display: inline-block;
font-family: FontAwesome;
font-feature-settings: normal;
font-kerning: auto;
font-language-override: normal;
font-size: inherit;
font-size-adjust: none;
font-stretch: normal;
font-style: normal;
font-synthesis: weight style;
font-variant: normal;
font-weight: normal;
line-height: 1;
text-rendering: auto;
transform: translate(0px, 0px);
}

.fa-facebook-f::before, .fa-facebook::before {
content: "";
}
/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 15px;
  }
  .row.content {height:auto;}
}
